// Insert your styles here, using LESS

body {
    .NavBar {
        margin-bottom: 40px;
    }

    .container {

        width: 1090px;
        margin: 0 auto;

        .privatemsg-container {
            width: 200px;
            height: 510px;
            margin: 0 auto;
            float: left;
            border-style: solid;
            border-width: 1px;
            border-color: gray;
            .private-chat-window {
                position: relative;
                height: 440px;
                width: 200px;

                .private-input-box {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 30px;
                    .private-input {
                        &.input-big {
                            width: 84%;
                            font-size: 1.2em;
                        }
                    }
                    .private-btn {
                        border-radius: 0px;
                        font-size: 1.2em;
                        background-color: rgba(50, 200, 50, .6);
                        color: white;
                    }
                }
              }


        }

        .chat-container {
          width: 440px;
          margin: 0 auto;
          float: left;

          .chat-window {
              position: relative;
              background-color: rgba(219, 217, 217, .6);
              height: 510px;
              width: 440px;
              border-style: solid;
              border-width: 1px;
              border-color: gray;



              .input-box {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  height: 30px;
                  .input {
                      &.input-big {
                          width: 84%;
                          font-size: 1.2em;
                      }
                  }
                  .btn {
                      border-radius: 0px;
                      font-size: 1.2em;
                      background-color: rgba(50, 200, 50, .6);
                      color: white;
                  }
                  .btnKick{
                      display: inline;
                      width: 30px;
                  }
              }
            }
        }
        .ChatList-container {
            width: 200px;
            margin: 0 auto;
            float: left;
            height: 510px;
            display: inline;
            border-style: solid;
            border-width: 1px;
            border-color: gray;

            .inlineChildren {
                display: inline;

                .clickMe {
                    cursor: pointer;
                }
            }


        }
        .kick-ban-container {
            width: 200px;
            height: 510px;
            margin: 0 auto;
            float: left;
            border-style: solid;
            border-width: 1px;
            border-color: gray;
        }
    }
    .pull-right {
        float: right;
    }

}

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}


.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}
    .w3-animate-fading{
        color: red;
    }
    .btn {
        border-radius: 0px;
        font-size: 1.2em;
        background-color: rgba(50, 200, 50, .6);
        color: white;
    }

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
